/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set background and default text colors */
body {
    background-color: #000; /* Black background */
    color: #b0b0b0; /* Light grey text */
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* Center the container on the page, but left-align its content */
.container {
    text-align: left;
    max-width: 600px;
    padding: 20px;
}

/* Title style */
h1 {
    font-size: 2rem;
    color: #ffffff; /* White color for the h1 */
    margin-bottom: 20px;
}

/* Paragraph and link styles */
p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #b0b0b0; /* Set paragraphs to light grey */
}

/* Discord button style */
.discord-button {
    display: inline-flex;
    align-items: center;
    background-color: #7289da; /* Discord blue */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.discord-button:hover {
    background-color: #5b6eae; /* Darker blue on hover */
}

/* Purple button style for Dračíkostka Invite */
.dragon-button {
    display: inline-flex;
    align-items: center;
    background-color: #a874d1; /* Light purple */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.dragon-button:hover {
    background-color: #8e5cb5; /* Darker purple on hover */
}

/* Orange button style for Bitcoin Invite */
.bitcoin-button {
    display: inline-flex;
    align-items: center;
    background-color: #ed8505; /* Light orange */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.bitcoin-button:hover {
    background-color: #a15800; /* Darker orange on hover */
}

/* Logos inside buttons */
.discord-logo, .dragon-logo, .bitcoin-logo {
    width: 20px; /* Adjust the logo size */
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
